{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h2>ورود به حساب کاربری</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary btn-block">
                            <i class="fas fa-sign-in-alt ml-1"></i> ورود
                        </button>
                    </form>
                    <hr>
                    <p class="text-center">
                        حساب کاربری ندارید؟ 
                        <a href="{% url 'accounts:signup' %}">ثبت‌نام کنید</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
